
<div   class="card" *ngFor="let element of posts" >

    <h3>post by <span style="color: aqua;">{{element.username}}</span></h3> 
    <h5 id="datePosted">  {{element.datePosted | date:'mediumDate'}}</h5>

        <div class="post-body" > 
       <span style="color: rgb(0, 255, 68)">{{element.option1}} </span > VS <span style="color:rgb(241, 253, 6)"> {{element.option2}} </span>  
       <p style="margin-left: 20px; font-style: italic;">{{element.postBody}} <span  style="visibility: hidden;" id="postID" >{{element.postId}}</span></p>

        </div>
  
    <!-- vote buttons -->
    <p><span id="green">{{element.numberOfVotesOption1}}</span>  <img id ="thumbs_up" src="assets/img/thumbs_up.svg" (click)="voteCount()" > &nbsp; &nbsp; 
    <span id="yellow">{{element.numberOfVotesOption2}}</span> <img id ="thumbs_up2" src="assets/img/thumbs_up2.svg" (click)="voteCount2()"></p>


  

     <div id="comment"  [style.display]="showComment">
     <form >

      <textarea id="commentBody" name="commentbody" rows="3" cols="50"  placeholder="Your comment here.. (50 words max)" maxlength="200"></textarea>
  
      <input id="commentButton" type="submit"   value="Comment">
      </form>
      <br>
      <p id="commentToggle" (click)="toggleView()"> {{showLabel}}</p> 
     
  <app-comments *ngIf="showComment"></app-comments>
     
    </div>

 </div>
 <br>







  
