
#commentButton{
width: 15%;
 margin-left: 85%; 
 background-color: black; 
 box-shadow: none;
 display: block;
 border-radius: 0px 0px 15px 15px;
 height: fit-content;
 margin-top: -9px;

}

#commentToggle{
  width: 15%;
   margin-bottom: 10px; 
   cursor: pointer;
   float: right;
   background-color: rgb(24, 22, 45); 
   box-shadow: none;
  display: block; 
   border-radius: 0px 0px 5px 5px;
   height: fit-content;
   margin-top: -9px;
   font-size: 15px;
  }


textarea{
    resize: none;
    background-color:rgb(130, 160, 178);
  

}
#commentButton:hover {
    background-color:#1D3557;
  }


#thumbs_up:hover {
    cursor: pointer;
    width: 22px;
    height: 22px;
filter: brightness(300%);
  }

  #thumbs_up2:hover {
    cursor: pointer;
    width: 22px;
    height: 22px;
    filter: brightness(300%);
      }

      #vs{


        font-family: 'Oleo Script Swash Caps', cursive;
        font-size: 23px;
     }