<div class="card">
    <h2>POST 1</h2>
    <h5 id="datePosted"> Dec 7, 2017</h5>
    <div class="post-body" >post body goes here...</div>
  <p> <button type ="button"><span id="green">12</span> <img id ="thumbs_up" src="assets/img/thumbs_up.svg"> </button> &nbsp; &nbsp; <button type ="button"><span id="yellow">4</span> <img id ="thumbs_up2"src="assets/img/thumbs_up2.svg"></button></p>
    <p>vote <span style="font-weight: bold;color: rgb(0, 255, 68);">GREEN</span> for for first option or vote <span style="font-weight: bold; color: rgb(241, 253, 6);">YELLOW</span> for the second option </p>
    <p id="comment"> <span id="userComment" style="font-weight: bold ;color: black;">sam24: </span>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco.</p>
  </div>
  <div class="card">
    <h2>POST 2</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="post-body" >post body goes here...</div>
  <p>  <button type ="button"> <span id="green">34</span> <img id ="thumbs_up" src="assets/img/thumbs_up.svg"> </button>&nbsp; &nbsp;  <button type ="button"><span id="yellow">3</span> <img id ="thumbs_up2"src="assets/img/thumbs_up2.svg"> </button></p>
  <p>vote <span style="font-weight: bold;color: rgb(0, 255, 68);">GREEN</span> for for first option or vote <span style="font-weight: bold; color: rgb(241, 253, 6);">YELLOW</span> for the second option </p>
 
    <p id="comment"> <span id="userComment" style="font-weight: bold ;color: black;">sam24: </span>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco.</p>
      
    <p id="comment"> <span id="userComment" style="font-weight: bold ;color: black;">Mike34: </span>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco.</p>

            
    <p id="comment"><span id="userComment" style="font-weight: bold ;color: black;">John24: </span>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco.</p>
  </div>
