
<div   class="card" *ngFor="let element of posts" >

    <h3>post by <span style="color: aqua;">{{element.username}}</span></h3> 
    <h5 id="datePosted">  {{element.date_posted | date:'mediumDate'}}</h5>
    <div class="post-body" > 
      <span style="color: rgb(0, 255, 68)">{{element.option1name}} </span> VS <span style="color:rgb(241, 253, 6)"> {{element.option2name}} </span>  
      <p style="margin-left: 20px; font-style: italic;">{{element.postbody}} <span  style="visibility: hidden;" #postID>{{element.postid}}</span></p>
    </div>

    <!-- vote buttons -->
    <p><span id="green">{{element.option1vote}}</span>  <img id ="thumbs_up" src="assets/img/thumbs_up.svg" (click)="voteCount()" > &nbsp; &nbsp; 
    <span id="yellow">{{element.option2vote}}</span> <img id ="thumbs_up2" src="assets/img/thumbs_up2.svg" (click)="voteCount2()"></p>
    
    <form >


      <textarea id="commentBody" name="commentbody" rows="4" cols="50"  placeholder="Your comment..."></textarea>
  
      <input id="commentButton" type="submit"   value="Comment">
  </form>


    <app-comments></app-comments>
   
  </div>




  <!-- hard code html for reference  -->

  <!-- <div class="card">
    <h2>POST 2</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="post-body" >post body goes here...</div>
  <p> <span id="green">34</span> <img id ="thumbs_up" src="assets/img/thumbs_up.svg">
   &nbsp; &nbsp; <span id="yellow">3</span> 
    <img id ="thumbs_up2"src="assets/img/thumbs_up2.svg"></p>
  <p>vote <span style="font-weight: bold;color: rgb(0, 255, 68);">GREEN</span> for for first option or vote <span style="font-weight: bold; color: rgb(241, 253, 6);">YELLOW</span> for the second option </p>



  
    <p id="comment"> <span id="userComment" style="font-weight: bold ;color: black;">sam24: </span>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco.</p>

          
  <p id="comment"><span id="userComment" style="font-weight: bold ;color: black;">John24: </span>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
    quis nostrud exercitation ullamco.</p>
</div>
            
    <p id="comment"><span id="userComment" style="font-weight: bold ;color: black;">John24: </span>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco.</p>
  </div> -->
